@font-face {
    font-family: 'Calendar';
    src: url('fonts/Calendar.eot');
    src: url('fonts/Calendar.eot?#iefix') format('embedded-opentype'),
    url('fonts/Calendar.woff') format('woff'),
    url('fonts/Calendar.ttf') format('truetype'),
    url('fonts/Calendar.svg#Calendar') format('svg');
    font-weight: normal;
    font-style: normal;
}

.Calendar{
    position: relative;
}

input[type=text].bx-calendar-year-input{
    padding: 10px 0;
    font-size: 13px;
}

.Calendar-icon{
    position: absolute;
    top: 11px;
    right: 13px;
    display: inline-block;
    font-size: 30px;
    color: #cccccc;
    cursor: pointer;
}

.Calendar-icon:before{
    content:'\0041';
    display: inline-block;
    font-family: 'Calendar';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.Calendar-icon:hover{color: #7cc623;}