@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xt7kwc');
  src:  url('fonts/icomoon.eot?xt7kwc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xt7kwc') format('truetype'),
    url('fonts/icomoon.woff?xt7kwc') format('woff'),
    url('fonts/icomoon.svg?xt7kwc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-file-powerpoint-o:before {
  content: "\f1c4";
}
